# Filter news by time period


greater than the start date and less than the end date

## Find max and min date time

The format of "date" column here is string.

If it is datetime format, you should use datetime format such as datetime.date(2019,9,23)

In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('./cna_news_preprocessed.csv',sep='|')

In [79]:
df.head(3)

,item_id,date,category,title,content,sentiment,summary,top_key_freq,tokens,tokens_v2,entities,token_pos,link,photo_link
0,aipl_20220314_1,2022-03-14,政治,外交部援烏物資已募4000箱 吳釗燮感謝捐贈民眾,民眾捐贈烏克蘭的愛心物資持續湧入外交部，截至今天傍晚累計已收到約4000箱，外交部長吳釗燮中...,0.01,"['外交部除感謝熱心民眾踴躍捐贈援助烏克蘭人道物資外', '親赴外交部捐贈物資的民眾約173...","[('外交部', 14), ('民眾', 7), ('物資', 7), ('烏克蘭', 5)...","['民眾', '捐贈', '烏克蘭', '的', '愛心', '物資', '持續', '湧入...","['民眾', '烏克蘭', '愛心', '物資', '外交部', '收到', '外交部長',...","[NerToken(word='烏克蘭', ner='GPE', idx=(4, 7)), ...","[('民眾', 'Na'), ('捐贈', 'VD'), ('烏克蘭', 'Nc'), ('...",https://www.cna.com.tw/news/aipl/202203140364....,https://imgcdn.cna.com.tw/www/WebPhotos/200/20...
1,aipl_20220314_2,2022-03-14,政治,幻象飛官獲救 空軍：掌握跳傘時機做出好示範,空軍一架幻象戰機今天失事，飛行員成功跳傘獲救，外界關注跳傘時機點。空軍表示，此次跳傘高度於幻...,0.00,"['幻象機的建議跳傘高度是2000呎', '由於此次幻象飛官成功彈射', '外界關注跳傘時機...","[('戰機', 11), ('彈射', 9), ('高度', 7), ('飛官', 7), ...","['空軍', '一', '架', '幻象', '戰機', '今天', '失事', '，', ...","['空軍', '幻象', '戰機', '飛行員', '跳傘', '獲救', '時機點', '...","[NerToken(word='今天', ner='DATE', idx=(8, 10)),...","[('空軍', 'Nc'), ('一', 'Neu'), ('架', 'Nf'), ('幻象...",https://www.cna.com.tw/news/aipl/202203140354....,NaN
2,aipl_20220314_3,2022-03-14,政治,法製幻象零附件取得不易 空軍：妥善率沒問題,幻象戰機今天失事，所幸飛官成功跳傘，由於法國製造的幻象戰機向來存有零附件取得不易問題，外界關...,0.00,"['由於法國製造的幻象戰機向來存有零附件取得不易問題', '對於幻象機隊的整體妥善率供需沒有...","[('幻象', 13), ('戰機', 10), ('零附件', 8), ('空軍', 8)...","['幻象', '戰機', '今天', '失事', '，', '所幸', '飛官', '成功'...","['幻象', '戰機', '飛官', '跳傘', '法國', '製造', '幻象', '戰機...","[NerToken(word='今天', ner='DATE', idx=(4, 6)), ...","[('幻象', 'Na'), ('戰機', 'Na'), ('今天', 'Nd'), ('失...",https://www.cna.com.tw/news/aipl/202203140341....,NaN

In [29]:
# maximum date time
df.date.max()

'2022-03-14'

In [30]:
# minimum date time
df.date.min()

'2022-03-03'

In [31]:
df.iloc[0].date

'2022-03-14'

In [32]:
df.tail(1).date

212    2022-03-13
Name: date, dtype: object

In [33]:
df.iloc[-1].date

'2022-03-13'

## Find news with a specified date

### Using query command

In [80]:
df.query("date == '2022-03-14'")[0:2]

,item_id,date,category,title,content,sentiment,summary,top_key_freq,tokens,tokens_v2,entities,token_pos,link,photo_link
0,aipl_20220314_1,2022-03-14,政治,外交部援烏物資已募4000箱 吳釗燮感謝捐贈民眾,民眾捐贈烏克蘭的愛心物資持續湧入外交部，截至今天傍晚累計已收到約4000箱，外交部長吳釗燮中...,0.01,"['外交部除感謝熱心民眾踴躍捐贈援助烏克蘭人道物資外', '親赴外交部捐贈物資的民眾約173...","[('外交部', 14), ('民眾', 7), ('物資', 7), ('烏克蘭', 5)...","['民眾', '捐贈', '烏克蘭', '的', '愛心', '物資', '持續', '湧入...","['民眾', '烏克蘭', '愛心', '物資', '外交部', '收到', '外交部長',...","[NerToken(word='烏克蘭', ner='GPE', idx=(4, 7)), ...","[('民眾', 'Na'), ('捐贈', 'VD'), ('烏克蘭', 'Nc'), ('...",https://www.cna.com.tw/news/aipl/202203140364....,https://imgcdn.cna.com.tw/www/WebPhotos/200/20...
1,aipl_20220314_2,2022-03-14,政治,幻象飛官獲救 空軍：掌握跳傘時機做出好示範,空軍一架幻象戰機今天失事，飛行員成功跳傘獲救，外界關注跳傘時機點。空軍表示，此次跳傘高度於幻...,0.00,"['幻象機的建議跳傘高度是2000呎', '由於此次幻象飛官成功彈射', '外界關注跳傘時機...","[('戰機', 11), ('彈射', 9), ('高度', 7), ('飛官', 7), ...","['空軍', '一', '架', '幻象', '戰機', '今天', '失事', '，', ...","['空軍', '幻象', '戰機', '飛行員', '跳傘', '獲救', '時機點', '...","[NerToken(word='今天', ner='DATE', idx=(8, 10)),...","[('空軍', 'Nc'), ('一', 'Neu'), ('架', 'Nf'), ('幻象...",https://www.cna.com.tw/news/aipl/202203140354....,NaN

### Using column value

In [81]:
df[df['date'] == '2022-03-14'][0:2]

,item_id,date,category,title,content,sentiment,summary,top_key_freq,tokens,tokens_v2,entities,token_pos,link,photo_link
0,aipl_20220314_1,2022-03-14,政治,外交部援烏物資已募4000箱 吳釗燮感謝捐贈民眾,民眾捐贈烏克蘭的愛心物資持續湧入外交部，截至今天傍晚累計已收到約4000箱，外交部長吳釗燮中...,0.01,"['外交部除感謝熱心民眾踴躍捐贈援助烏克蘭人道物資外', '親赴外交部捐贈物資的民眾約173...","[('外交部', 14), ('民眾', 7), ('物資', 7), ('烏克蘭', 5)...","['民眾', '捐贈', '烏克蘭', '的', '愛心', '物資', '持續', '湧入...","['民眾', '烏克蘭', '愛心', '物資', '外交部', '收到', '外交部長',...","[NerToken(word='烏克蘭', ner='GPE', idx=(4, 7)), ...","[('民眾', 'Na'), ('捐贈', 'VD'), ('烏克蘭', 'Nc'), ('...",https://www.cna.com.tw/news/aipl/202203140364....,https://imgcdn.cna.com.tw/www/WebPhotos/200/20...
1,aipl_20220314_2,2022-03-14,政治,幻象飛官獲救 空軍：掌握跳傘時機做出好示範,空軍一架幻象戰機今天失事，飛行員成功跳傘獲救，外界關注跳傘時機點。空軍表示，此次跳傘高度於幻...,0.00,"['幻象機的建議跳傘高度是2000呎', '由於此次幻象飛官成功彈射', '外界關注跳傘時機...","[('戰機', 11), ('彈射', 9), ('高度', 7), ('飛官', 7), ...","['空軍', '一', '架', '幻象', '戰機', '今天', '失事', '，', ...","['空軍', '幻象', '戰機', '飛行員', '跳傘', '獲救', '時機點', '...","[NerToken(word='今天', ner='DATE', idx=(8, 10)),...","[('空軍', 'Nc'), ('一', 'Neu'), ('架', 'Nf'), ('幻象...",https://www.cna.com.tw/news/aipl/202203140354....,NaN

In [82]:
# number of pieces
len(df[df['date'] == '2022-03-14'])

175

In [83]:
# number of pieces
len(df[df['date'] == '2022-03-13'])

14

In [84]:
# number of pieces
len(df[df['date'] == '2022-03-12'])

4

In [85]:
df['date'] == '2022-03-12'

0      False
1      False
2      False
3      False
4      False
       ...
208    False
209    False
210    False
211    False
212    False
Name: date, Length: 213, dtype: bool

In [40]:
df[df['date'] == '2022-03-12']

,item_id,date,category,title,content,sentiment,summary,top_key_freq,tokens,tokens_v2,entities,token_pos,link,photo_link
114,amov_20220312_15,2022-03-12,娛樂,歸亞蕾新作飆50年演技精華 導演讚夢幻演員,演藝生涯50多年、演過200多個角色的金馬影后歸亞蕾在美國推出電影新作，導演楊藜大讚歸亞蕾硬...,1.0,"['演藝生涯50多年、演過200多個角色的金馬影后歸亞蕾在美國推出電影新作', '但歸亞蕾表...","[('電影', 10), ('導演', 10), ('歸亞蕾', 10), ('楊藜', 8...","['演藝', '生涯', '50', '多', '年', '、', '演', '過', '2...","['生涯', '角色', '金馬', '影后', '美國', '推出', '電影', '新作...","[NerToken(word='50多年', ner='DATE', idx=(4, 8))...","[('演藝', 'A'), ('生涯', 'Na'), ('50', 'Neu'), ('多...",https://www.cna.com.tw/news/amov/202203120224....,https://imgcdn.cna.com.tw/www/WebPhotos/200/20...
115,amov_20220312_16,2022-03-12,娛樂,初擁劇組意外釀2死 百白揭飆車趕戲嘆玩命,「初擁」2名工作人員昨天因意外墜谷不治，引發各界關注。演員百白在臉書分享劇組曾因趕戲飆車，或...,1.0,"['她感嘆拍戲像在「玩命」', '「讓大家都有一個安全無虞的的工作環境', '演員百白在臉書...","[('演員', 6), ('工作', 4), ('拍攝', 4), ('百白', 3), (...","['「', '初擁', '」', '2', '名', '工作', '人員', '昨天', '...","['工作', '人員', '墜谷', '引發', '各界', '演員', '百白', '臉書...","[NerToken(word='2', ner='CARDINAL', idx=(4, 5)...","[('「', 'PARENTHESISCATEGORY'), ('初擁', 'D'), ('...",https://www.cna.com.tw/news/amov/202203120162....,NaN
116,amov_20220312_17,2022-03-12,娛樂,神仙谷意外釀兩死 炎亞綸新戲「初擁」停拍,藝人炎亞綸主演的影集「初擁」，昨天發生2名工作人員跌落溪谷死亡意外。製作公司多曼尼今天發布聲...,0.0,"['多曼尼製作公司拍攝影集「初擁」2月開鏡', '因此劇組將全面停拍', '藝人炎亞綸主演的...","[('多曼尼', 5), ('拍攝', 4), ('主演', 3), ('溪谷', 3), ...","['藝人', '炎亞綸', '主演', '的', '影集', '「', '初擁', '」',...","['藝人', '炎亞綸', '主演', '影集', '工作', '人員', '跌落', '溪...","[NerToken(word='炎亞綸', ner='PERSON', idx=(2, 5)...","[('藝人', 'Na'), ('炎亞綸', 'Nb'), ('主演', 'VC'), ('...",https://www.cna.com.tw/news/amov/202203125002....,https://imgcdn.cna.com.tw/www/WebPhotos/200/20...
117,amov_20220312_18,2022-03-12,娛樂,「初擁」工作人員墜谷不治 炎亞綸停工盼提升台劇環境,多曼尼製作公司昨天拍攝影集「初擁」發生意外，攝影師與攝影助理不慎跌落溪谷宣告不治。炎亞綸深夜...,0.0,"['炎亞綸深夜表示直到製作單位能給予工作人員正確安全措施與合理工時前', '炎亞綸說自己雖不...","[('製作', 7), ('炎亞綸', 6), ('公司', 5), ('多曼尼', 4),...","['多曼尼', '製作', '公司', '昨天', '拍攝', '影集', '「', '初擁...","['多曼尼', '製作', '公司', '拍攝', '影集', '意外', '攝影師', '...","[NerToken(word='曼尼製作公司', ner='ORG', idx=(1, 7)...","[('多曼尼', 'Nb'), ('製作', 'VC'), ('公司', 'Nc'), ('...",https://www.cna.com.tw/news/amov/202203120006....,https://imgcdn.cna.com.tw/www/webphotos/WebCov...

In [41]:
len(df[df['date'] == '2022-03-12'])

4

### Find news with date greater than the start date and less than the end date

In [42]:
df_interval = df[(df['date'] >= '2022-03-10') & (df['date'] <= '2022-03-13')]
len(df_interval )

24

In [86]:
# same result using query
df_interval = df.query("date >= '2022-03-10' & date <= '2022-03-13'")
len(df_interval )

24

# date time

In [44]:
from datetime import datetime, timedelta, date

### datetime and  timedelta

In [45]:
# You can assign a specific end_date as you like.

In [93]:
end_date = date(2022,4,20)

In [94]:
end_date

datetime.date(2022, 4, 20)

In [95]:
timedelta(weeks=1,days=3)#算天數

datetime.timedelta(days=10)

In [96]:
timedelta(days=3)

datetime.timedelta(days=3)

In [97]:
# Calculate the start date

In [98]:
start_date = end_date  - timedelta(weeks=1,days=3)

In [99]:
start_date

datetime.date(2022, 4, 10)

In [53]:
# convert date format into string format

In [100]:
start_date = start_date.strftime('%Y-%m-%d')

In [55]:
start_date

'2022-04-10'

In [56]:
# end_date can be today.

In [102]:
date.today()

datetime.date(2025, 3, 25)

In [103]:
end_date = date.today()

In [104]:
start_date = date.today() - timedelta(weeks=2,days=5)

In [105]:
start_date

datetime.date(2025, 3, 6)

In [106]:
start_date = date.today() - timedelta(weeks=5,days=5)
start_date

datetime.date(2025, 2, 13)

### How to calculate the date of previous 2 weeks

In [109]:
timedelta(weeks=2)

datetime.timedelta(days=14)

In [110]:
# end date: the date of the latest record of news
end_date = df.date.max()

In [111]:
end_date

'2022-03-14'

In [112]:
datetime.strptime( end_date , '%Y-%m-%d')

datetime.datetime(2022, 3, 14, 0, 0)

In [113]:
datetime.strptime( end_date , '%Y-%m-%d').date()

datetime.date(2022, 3, 14)

In [114]:
weeks=2
datetime.strptime( end_date , '%Y-%m-%d').date() - timedelta(weeks=weeks)

datetime.date(2022, 2, 28)

In [115]:
# start date
start_date = (datetime.strptime( end_date , '%Y-%m-%d').date() - timedelta(weeks=weeks)).strftime('%Y-%m-%d')

In [116]:
datetime.strptime( end_date , '%Y-%m-%d').date() - timedelta(weeks=weeks)

datetime.date(2022, 2, 28)

In [70]:
(datetime.strptime( end_date , '%Y-%m-%d').date() - timedelta(weeks=weeks)).strftime('%Y-%m-%d')

'2022-02-28'

# Calculate time duration of news dataset

the duration of data

In [117]:
df.date.min()

'2022-03-03'

In [118]:
df.date.max()

'2022-03-14'

In [119]:
d1 = datetime.strptime(str(df.date.min()), '%Y-%m-%d')
d2 = datetime.strptime(str(df.date.max()), '%Y-%m-%d')

In [120]:
d1

datetime.datetime(2022, 3, 3, 0, 0)

In [121]:
date_num = d2 - d1

In [122]:
date_num

datetime.timedelta(days=11)

In [123]:
date_num.days

11