# Load and Save Data into Database

# Packages installation

SQLAlchemy is a popular sql tool in Python.

    alchemy:煉金術

## SQLALchemy, and driver for MySQL and MariaDB


注意: sqlalchemy 2.0必須搭配pandas Version: 2.0.2
[參考來源](https://stackoverflow.com/questions/75345086/pandas-dataframe-to-sql-doesnt-work-anymore-with-an-sqlalchemy-2-0-1-engine-c)

In [30]:
!pip install -U sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\clhuang\miniconda3\envs\ai23\lib\site-packages (1.4.0)
Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/f2/6b/18900a4df0d91397569f645105a4fb36f12033075622e3d131c456dc73f3/SQLAlchemy-2.0.30-cp310-cp310-win_amd64.whl.metadata
  Using cached SQLAlchemy-2.0.30-cp310-cp310-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\clhuang\miniconda3\envs\ai23\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\clhuang\miniconda3\envs\ai23\lib\site-packages (from sqlalchemy) (2.0.2)
Using cached SQLAlchemy-2.0.30-cp310-cp310-win_amd64.whl (2.1 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.0
    Uninstalling SQLAlchemy-1.4.0:
      Successfully uninstalled SQLAlchemy-1.4.0
Successfully installed sqlalchemy-2.0.30

WARNING: Ignoring invalid distribution -pencv-python (c:\users\clhuang\miniconda3\envs\ai23\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\clhuang\miniconda3\envs\ai23\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\clhuang\miniconda3\envs\ai23\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\clhuang\miniconda3\envs\ai23\lib\site-packages)
DEPRECATION: pytorch-lightning 1.5.10 has a non-standard dependency specifier torch>=1.7.*. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pytorch-lightning or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [2]:
!pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\clhuang\miniconda3\envs\ai23\lib\site-packages (1.1.0)

WARNING: Ignoring invalid distribution -pencv-python (c:\users\clhuang\miniconda3\envs\ai23\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\clhuang\miniconda3\envs\ai23\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\users\clhuang\miniconda3\envs\ai23\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\clhuang\miniconda3\envs\ai23\lib\site-packages)
DEPRECATION: pytorch-lightning 1.5.10 has a non-standard dependency specifier torch>=1.7.*. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pytorch-lightning or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [1]:
!pip show pandas

Name: pandas
Version: 2.0.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page:
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

        Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
        All rights reserved.

        Copyright (c) 2011-2023, Open source contributors.

        Redistribution and use in source and binary forms, with or without
        modification, are permitted provided that the following conditions are met:

        * Redistributions of source code must retain the above copyright notice, this
          list of conditions and the following disclaimer.

        * Redistributions in binary form must reproduce the above copyright notice,
          this list of conditions and the following disclaimer in the documentation
          and/or other materials provided with the distribution.

        * Neither the name of the copyright holder nor the names of its
          contributors may be used to endorse or promote products derived from
          this software without specific prior written permission.

        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
        AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
        IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
        DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
        FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
        DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
        SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
        CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
        OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
        OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Location: c:\users\clhuang\miniconda3\envs\ai23\lib\site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by: altair, bokeh, datasets, gradio, seaborn, simplet5, streamlit, twnews, ultralytics, yolov5

WARNING: Ignoring invalid distribution -pencv-python (c:\users\clhuang\miniconda3\envs\ai23\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\clhuang\miniconda3\envs\ai23\lib\site-packages)

# Connect to Sqlite or mariaDB/MySQL

In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import inspect
from sqlalchemy import text

In [2]:
# engine
#engine= sqlalchemy.create_engine('sqlite:///my_news_data.sqlite3.db')
# You can connect to your sqlite database
#conn = engine.connect()

# conn= sqlalchemy.create_engine('sqlite:///my_news_data.sqlite3.db') # 舊版寫法

## MariaDB or MySQL

In [3]:
# MaridDB or MySQL
engine = sqlalchemy.create_engine("mysql+pymysql://root:@localhost:3306")
#engine = sqlalchemy.create_engine("mysql+pymysql://root:mis123@localhost:3306")

In [4]:

conn = engine.connect()
# create a new database if it does not exist

statement = text("CREATE DATABASE IF NOT EXISTS `poa` CHARACTER SET utf8;")
conn.execute(statement)
# conn.execute(text("create database poa CHARACTER SET utf8;"))

In [5]:
# Use poa database
conn.execute(text("use poa"))

In [6]:
from sqlalchemy.exc import OperationalError
try:
    with engine.connect():
        print('Database exists.')
except OperationalError as e:
    print('Database does not exist.')

Database exists.

# Top persons

In [7]:
statement = text("CREATE DATABASE IF NOT EXISTS `poa` CHARACTER SET utf8;")
conn.execute(statement)

In [8]:
statement = "DROP TABLE IF EXISTS `topperson`;"
conn.execute(text(statement))

In [9]:
statement = "CREATE TABLE IF NOT EXISTS `topperson` ( \
  `category` TEXT NOT NULL,\
  `top_keys` TEXT NOT NULL\
);"
# statement = "CREATE TABLE IF NOT EXISTS `topperson` ( \
#   `category` varchar(20) NOT NULL,\
#   `top_keys` varchar(1500) NOT NULL\
# );"

conn.execute(text(statement))

In [10]:
df = pd.read_csv('./dataset/news_top_person_by_category.csv', sep='|')
df

   category                                           top_keys
0        政治  [('蔡英文', 244), ('蘇貞昌', 242), ('朱立倫', 186), ('陳...
1        科技  [('郭駿毅', 8), ('馬斯克', 7), ('魏世昕', 7), ('陳振輝', 6...
2        運動  [('戴資穎', 100), ('張育成', 70), ('莊智淵', 66), ('李灝宇...
3        證卷  [('鮑爾', 29), ('黃國偉', 29), ('Jerome Powell', 22...
4        產經  [('黃天牧', 60), ('劉揚偉', 46), ('楊金龍', 45), ('王美花'...
5        娛樂  [('強尼戴普', 73), ('安柏赫德', 67), ('蔡淑臻', 42), ('劉冠...
6        生活  [('陳時中', 1054), ('柯文哲', 264), ('羅一鈞', 234), ('...
7        國際  [('蒲亭', 698), ('拜登', 671), ('澤倫斯基', 453), ('馬克...
8        社會  [('李男', 79), ('張男', 73), ('吳男', 58), ('林男', 55...
9        文化  [('李永得', 48), ('李怡', 31), ('魏世芬', 29), ('黃韻玲',...
10       兩岸  [('習近平', 204), ('李家超', 117), ('李孟居', 82), ('陳日...
11       全部  [('陳時中', 1274), ('拜登', 768), ('蒲亭', 731), ('澤倫...

In [11]:
# 丟資料進去資料庫!!!
#df.to_sql('topperson', con=conn, index=False, if_exists='replace')
#conn.commit()

In [12]:
for i, row in df.iterrows():
    print(row.category)
    print(type(row.category))

政治
<class 'str'>
科技
<class 'str'>
運動
<class 'str'>
證卷
<class 'str'>
產經
<class 'str'>
娛樂
<class 'str'>
生活
<class 'str'>
國際
<class 'str'>
社會
<class 'str'>
文化
<class 'str'>
兩岸
<class 'str'>
全部
<class 'str'>

In [13]:
for i, row in df.iterrows():
    statement = 'INSERT INTO `topperson` (`category`, `top_keys`) VALUES ("{}","{}");'.format(row.category, row.top_keys)
    conn.execute(text(statement))
conn.commit()

In [14]:
cate="政治"
statement = "SELECT top_keys FROM topperson where category='{}'".format(cate)
result = conn.execute(text(statement)).fetchone()
result

("[('蔡英文', 244), ('蘇貞昌', 242), ('朱立倫', 186), ('陳時中', 182), ('蔡其昌', 142), ('吳釗燮', 127), ('李鴻鈞', 124), ('蔣萬安', 114), ('張惇涵', 113), ('游錫堃', 112), ('張善政',  ... (2303 characters truncated) ... , 9), ('鄭斐文', 9), ('克里契科', 8), ('林思銘', 8), ('黃鈞耀', 8), ('柱仙', 8), ('陳儀深', 8), ('賴鼎銘', 8), ('陳吉仲', 8), ('杜魯道', 8), ('柯志恩', 8), ('吳明峰', 8), ('周志宏', 8)]",)

In [15]:
# pd.read_sql('topperson', conn)

In [16]:
#conn.close()
#conn = engine.connect()
insp = inspect(engine)
print(insp.get_table_names())

AttributeError: 'NoneType' object has no attribute 'replace'

# News preproccess data

In [6]:
df = pd.read_csv('./dataset/cna_news_200_preprocessed.csv', sep='|')

In [7]:
df.head(1)

,item_id,date,category,title,content,sentiment,summary,top_key_freq,tokens,tokens_v2,entities,token_pos,link,photo_link
0,aipl_20220314_1,2022-03-14,政治,外交部援烏物資已募4000箱 吳釗燮感謝捐贈民眾,民眾捐贈烏克蘭的愛心物資持續湧入外交部，截至今天傍晚累計已收到約4000箱，外交部長吳釗燮中...,0.01,"['外交部除感謝熱心民眾踴躍捐贈援助烏克蘭人道物資外', '親赴外交部捐贈物資的民眾約173...","[('外交部', 14), ('民眾', 7), ('物資', 7), ('烏克蘭', 5)...","['民眾', '捐贈', '烏克蘭', '的', '愛心', '物資', '持續', '湧入...","['民眾', '烏克蘭', '愛心', '物資', '外交部', '收到', '外交部長',...","[NerToken(word='烏克蘭', ner='GPE', idx=(4, 7)), ...","[('民眾', 'Na'), ('捐贈', 'VD'), ('烏克蘭', 'Nc'), ('...",https://www.cna.com.tw/news/aipl/202203140364....,https://imgcdn.cna.com.tw/www/WebPhotos/200/20...

In [8]:
df.shape

(213, 14)

In [9]:
# Delete duplicated rows (preprocess two times for a certain day)
# df = df.drop_duplicates()
df = df.drop_duplicates(subset='item_id', keep="first")

In [10]:
df.shape

(213, 14)

## 丟資料進去資料庫!!!

與pandas版本不相容，必須用執行sql的方式

In [16]:
# 丟資料進去資料庫!!!
df.to_sql('cna_news', con=conn, if_exists="replace", index=False)
conn.commit()

AssertionError:

In [ ]:
# 讀出來看看
pd.read_sql('cna_news', conn)

,item_id,date,category,title,content,sentiment,summary,top_key_freq,tokens,tokens_v2,entities,token_pos,link,photo_link
0,aipl_20220314_1,2022-03-14,政治,外交部援烏物資已募4000箱 吳釗燮感謝捐贈民眾,民眾捐贈烏克蘭的愛心物資持續湧入外交部，截至今天傍晚累計已收到約4000箱，外交部長吳釗燮中...,0.01,"['外交部除感謝熱心民眾踴躍捐贈援助烏克蘭人道物資外', '親赴外交部捐贈物資的民眾約173...","[('外交部', 14), ('民眾', 7), ('物資', 7), ('烏克蘭', 5)...","['民眾', '捐贈', '烏克蘭', '的', '愛心', '物資', '持續', '湧入...","['民眾', '烏克蘭', '愛心', '物資', '外交部', '收到', '外交部長',...","[NerToken(word='烏克蘭', ner='GPE', idx=(4, 7)), ...","[('民眾', 'Na'), ('捐贈', 'VD'), ('烏克蘭', 'Nc'), ('...",https://www.cna.com.tw/news/aipl/202203140364....,https://imgcdn.cna.com.tw/www/WebPhotos/200/20...
1,aipl_20220314_2,2022-03-14,政治,幻象飛官獲救 空軍：掌握跳傘時機做出好示範,空軍一架幻象戰機今天失事，飛行員成功跳傘獲救，外界關注跳傘時機點。空軍表示，此次跳傘高度於幻...,0.00,"['幻象機的建議跳傘高度是2000呎', '由於此次幻象飛官成功彈射', '外界關注跳傘時機...","[('戰機', 11), ('彈射', 9), ('高度', 7), ('飛官', 7), ...","['空軍', '一', '架', '幻象', '戰機', '今天', '失事', '，', ...","['空軍', '幻象', '戰機', '飛行員', '跳傘', '獲救', '時機點', '...","[NerToken(word='今天', ner='DATE', idx=(8, 10)),...","[('空軍', 'Nc'), ('一', 'Neu'), ('架', 'Nf'), ('幻象...",https://www.cna.com.tw/news/aipl/202203140354....,None
2,aipl_20220314_3,2022-03-14,政治,法製幻象零附件取得不易 空軍：妥善率沒問題,幻象戰機今天失事，所幸飛官成功跳傘，由於法國製造的幻象戰機向來存有零附件取得不易問題，外界關...,0.00,"['由於法國製造的幻象戰機向來存有零附件取得不易問題', '對於幻象機隊的整體妥善率供需沒有...","[('幻象', 13), ('戰機', 10), ('零附件', 8), ('空軍', 8)...","['幻象', '戰機', '今天', '失事', '，', '所幸', '飛官', '成功'...","['幻象', '戰機', '飛官', '跳傘', '法國', '製造', '幻象', '戰機...","[NerToken(word='今天', ner='DATE', idx=(4, 6)), ...","[('幻象', 'Na'), ('戰機', 'Na'), ('今天', 'Nd'), ('失...",https://www.cna.com.tw/news/aipl/202203140341....,None
3,aipl_20220314_4,2022-03-14,政治,游錫堃：無禁止反質詢規定 擇期協商討論入法可能,針對近日行政院長蘇貞昌與國民黨立委蔣萬安的反質詢爭議，立法院長游錫堃今天透過幕僚告訴中央社記...,0.00,"['並要求立法院長、副院長主持會議去若發現官員反質詢時', '國民黨立法院黨團不滿蘇貞昌及各...","[('游錫堃', 6), ('官員', 6), ('立法院', 5), ('蘇貞昌', 4)...","['針對', '近日', '行政院長', '蘇貞昌', '與', '國民黨', '立委', ...","['行政院長', '蘇貞昌', '國民黨', '立委', '蔣萬安', '爭議', '立法院...","[NerToken(word='行政院長', ner='ORG', idx=(4, 8)),...","[('針對', 'P'), ('近日', 'Nd'), ('行政院長', 'Na'), ('...",https://www.cna.com.tw/news/aipl/202203140336....,None
4,aipl_20220314_5,2022-03-14,政治,德國在台協會處長到訪 陳其邁盼拓展多元領域合作,德國在台協會處長許佑格今天拜會高雄市長陳其邁，雙方就高雄市整體發展、智慧城市及住宅政策等議題...,0.02,"['德國在台協會處長許佑格今天拜會高雄市長陳其邁', '能促進更多德國企業到高雄投資', '...","[('高雄', 7), ('德商', 6), ('技術', 5), ('企業', 5), (...","['德國', '在台', '協會', '處長', '許佑格', '今天', '拜會', '高...","['德國', '在台', '協會', '處長', '許佑格', '拜會', '高雄', '市...","[NerToken(word='德國', ner='GPE', idx=(0, 2)), N...","[('德國', 'Nc'), ('在台', 'Nc'), ('協會', 'Nc'), ('處...",https://www.cna.com.tw/news/aipl/202203140322....,https://imgcdn.cna.com.tw/www/WebPhotos/200/20...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,acn_20220314_16,2022-03-14,兩岸,5中企列美風險名單外界憂退市 分析：為時過早,中國5家在美上市公司近日被列入「外國公司問責法」暫定清單，不但股價隨之跳水，市場也憂慮引發中...,0.00,"['中國5家在美上市公司近日被列入「外國公司問責法」暫定清單', '評論5家中企被列入「外國...","[('公司', 11), ('中國', 8), ('名單', 6), ('外國', 5), ...","['中國', '5', '家', '在', '美', '上市', '公司', '近日', '...","['中國', '公司', '外國', '公司', '問責法', '清單', '股價', '跳...","[NerToken(word='中國', ner='GPE', idx=(0, 2)), N...","[('中國', 'Nc'), ('5', 'Neu'), ('家', 'Nf'), ('在'...",https://www.cna.com.tw/news/acn/202203140067.aspx,None
209,acn_20220314_17,2022-03-14,兩岸,阻疫情 香港擬上門為長者殘障人士施打疫苗,香港的COVID-19（2019冠狀病毒疾病）疫情嚴峻，官員表示，考慮擴大家居接種服務，上門...,0.00,"['估計約有5萬名獨居長者或殘障人士需要家居接種服務', '本月下旬將上門為不曾接種疫苗的居...","[('香港', 7), ('人士', 6), ('施打', 6), ('疫苗', 6), (...","['香港', '的', 'COVID-19', '（', '2019', '冠狀病毒', '...","['香港', '冠狀病毒', '疾病', '疫情', '官員', '擴大', '接種', '...","[NerToken(word='香港', ner='GPE', idx=(0, 2)), N...","[('香港', 'Nc'), ('的', 'DE'), ('COVID-19', 'FW')...",https://www.cna.com.tw/news/acn/202203140064.aspx,None
210,acn_20220314_18,2022-03-14,兩岸,中國新增本土確診1337例 吉林疫情仍嚴峻,中國COVID-19（2019冠狀病毒疾病）單日新增本土病例1337例。根據中國衛健委通報，...,0.47,"['累計報告確診病例11萬6902例', '31個省（自治區、直轄市）和新疆生產建設兵團報告...","[('病例', 10), ('中國', 3), ('報告', 3), ('疫情', 3), ...","['中國', 'COVID-19', '（', '2019', '冠狀', '病毒', '疾...","['中國', '冠狀', '病毒', '疾病', '本土', '病例', '中國', '衛健...","[NerToken(word='中國', ner='GPE', idx=(0, 2)), N...","[('中國', 'Nc'), ('COVID-19', 'FW'), ('（', 'PARE...",https://www.cna.com.tw/news/acn/202203140041.aspx,https://imgcdn.cna.com.tw/www/WebPhotos/200/20...
211,acn_20220314_19,2022-03-14,兩岸,中國為何堅持疫情清零 專家指醫療資源不足不均,中國抗疫專家張文宏解釋為何中國當前對疫情仍須堅持「社會面清零」，因為各地無論是心理上還是社會...,0.00,"['為何中國人已經接種了這沒多疫苗還不能「躺平」（放任不管）', '「但是有事的絕大多數都是...","[('中國', 14), ('疫苗', 13), ('接種', 7), ('疫情', 6),...","['中國', '抗疫', '專家', '張文宏', '解釋', '為何', '中國', '當...","['中國', '專家', '張文宏', '中國', '疫情', '社會面', '心理', '...","[NerToken(word='中國', ner='GPE', idx=(0, 2)), N...","[('中國', 'Nc'), ('抗疫', 'VJ'), ('專家', 'Na'), ('張...",https://www.cna.com.tw/news/acn/202203140027.aspx,None
212,acn_20220313_20,2022-03-13,兩岸,劉兆佳：香港疫情打擊威信 北京將加強命令特首,中國全國港澳研究會副會長劉兆佳今天公開表示，北京中央近日對港府發出「歷來最嚴重的忠告」，指香...,0.00,"['北京中央可能會因此更注重香港特首候選人的「管治能力」', '香港疫情已提升到中國「全國問...","[('北京', 9), ('香港', 7), ('劉兆佳', 5), ('疫情', 4), ...","['中國', '全', '國', '港澳', '研究會', '副會長', '劉兆佳', '今...","['中國', '港澳', '研究會', '副會長', '劉兆佳', '北京', '中央', ...","[NerToken(word='中國', ner='GPE', idx=(0, 2)), N...","[('中國', 'Nc'), ('全', 'Neqa'), ('國', 'Nc'), ('港...",https://www.cna.com.tw/news/acn/202203130193.aspx,https://imgcdn.cna.com.tw/www/webphotos/WebCov...

In [ ]:
# engine
# engine= sqlalchemy.create_engine('sqlite:///my_news_data.sqlite3.db')
# You can connect to your sqlite database
# conn = engine.connect()
insp = inspect(engine)
print(insp.get_table_names())

['cna_news', 'topkeyword', 'topner', 'topperson']

# Top keyword

In [ ]:
df = pd.read_csv('./dataset/news_topkey_with_category_via_token_pos.csv', sep='|')

# 丟資料進去資料庫!!!
df.to_sql('topkeyword', con=conn, index=False, if_exists='replace')
conn.commit()

In [ ]:
df.head(1)

  category                                           top_keys
0       政治  [('台灣', 3393), ('政府', 1115), ('疫情', 927), ('國民...

In [ ]:
pd.read_sql('topkeyword', conn)

   category                                           top_keys
0        政治  [('台灣', 3393), ('政府', 1115), ('疫情', 927), ('國民...
1        科技  [('台灣', 84), ('團隊', 77), ('太空', 72), ('黑洞', 70...
2        運動  [('安打', 925), ('台灣', 669), ('比賽', 558), ('球員',...
3        證卷  [('指數', 1247), ('營收', 922), ('台股', 882), ('市場'...
4        產經  [('台灣', 1044), ('公司', 858), ('市場', 817), ('疫情'...
5        娛樂  [('電影', 224), ('台灣', 219), ('導演', 168), ('音樂',...
6        生活  [('疫情', 3055), ('中心', 1947), ('疫苗', 1810), ('民...
7        國際  [('烏克蘭', 4705), ('美國', 3501), ('俄羅斯', 3329), (...
8        社會  [('警方', 784), ('男子', 532), ('地檢署', 395), ('檢察官...
9        文化  [('台灣', 596), ('文化', 297), ('作品', 272), ('藝術',...
10       兩岸  [('中國', 2717), ('疫情', 1636), ('上海', 1112), ('香...
11       全部  [('台灣', 9723), ('疫情', 8203), ('中國', 6504), ('美...

In [ ]:
insp = inspect(engine)
print(insp.get_table_names())

['cna_news', 'topkeyword', 'topner', 'topperson']

# Top ner keyword data

In [ ]:
# Notice: we store it to database with three columns: ne_name, category, and top_keys
# It is easier to access with sql satement.

In [ ]:
# You can reconnect the database
# conn = sqlalchemy.create_engine("mysql+pymysql://mis2:mis123@localhost:3306/poa")

In [ ]:
df = pd.read_csv('./dataset/news_topkey_by_ner.csv', sep='|')

In [ ]:
df.head(1)

    ne_name                                           top_keys
0  CARDINAL  [('政治', [('3+4', 47), ('39', 35), ('10', 34), ...

In [ ]:
# Why str(topkeys)? topkeys is a list; it should be a string to feed into database
data=[]
for ne_name, top_keys in df.values:
    for cate, topkeys in eval(top_keys):
        data.append([ne_name, cate, str(topkeys)])

In [ ]:
data[0]

['CARDINAL',
 '政治',
 "[('3+4', 47), ('39', 35), ('10', 34), ('16', 28), ('13', 27), ('之一', 20), ('11', 19), ('56', 19), ('12', 18), ('1700萬', 18), ('20', 17), ('38', 16), ('28', 15), ('14', 12), ('18', 12), ('500', 12), ('125萬', 12), ('2350萬', 11), ('2019', 10), ('2300萬', 10), ('22', 10), ('27', 10), ('24', 9), ('29', 9), ('40', 9), ('1億', 8), ('21', 8), ('800', 8), ('20萬', 8), ('34', 8), ('520', 8), ('19', 7), ('45', 7), ('2022', 7), ('200', 7), ('49', 7), ('G7', 7), ('15', 6), ('50多', 6), ('30', 6), ('10萬', 6), ('37', 6), ('0+7', 6), ('一半', 6), ('70萬', 5), ('65', 5), ('50', 5), ('33', 5), ('4.0', 5), ('99', 5), ('1/5', 5), ('80', 5), ('100', 5), ('120', 5), ('2000', 5), ('2050', 5), ('12萬', 5), ('上千', 5), ('300', 5), ('1504', 5), ('6000', 4), ('5萬', 4), ('30萬', 4), ('113', 4), ('75萬', 4), ('58', 4), ('1000萬', 4), ('78', 4), ('2400萬', 4), ('2.5', 4), ('150', 4), ('17', 4), ('35', 4), ('百萬', 4), ('5000', 4), ('200萬', 4), ('1000', 4), ('1/3', 4), ('50萬', 4), ('59', 4), ('57', 4), ('46', 3), ('10+7', 3), ('72', 3), ('40萬', 3), ('4909', 3), ('1/2', 3), ('75', 3), ('400萬', 3), ('64', 3), ('2000萬', 3), ('118', 3), ('86', 3), ('8萬', 3), ('1.5', 3), ('40多', 3), ('2萬多', 3), ('054', 3), ('60', 3), ('100萬', 3), ('2.0', 3), ('103', 3), ('5380', 3), ('數百萬', 3), ('600萬', 3), ('20餘', 3), ('119', 3), ('1558', 3), ('108', 3), ('61', 3), ('95', 3), ('625萬', 3), ('6萬', 3), ('70多', 2), ('110', 2), ('4000萬', 2), ('2至3', 2), ('53', 2), ('700多萬', 2), ('二十', 2), ('幾百萬', 2), ('5000萬', 2), ('1450', 2), ('2021', 2), ('近百萬', 2), ('3萬多', 2), ('100多', 2), ('近千', 2), ('117', 2), ('101', 2), ('26', 2), ('2000多', 2), ('70', 2), ('25', 2), ('近40萬', 2), ('341', 2), ('2、3', 2), ('97', 2), ('126萬', 2), ('4600', 2), ('94', 2), ('400多萬', 2), ('4萬', 2), ('300萬', 2), ('1110506', 2), ('298', 2), ('數十', 2), ('7000多', 2), ('1459.3萬', 2), ('105.25', 2), ('741', 2), ('8882', 2), ('15萬', 2), ('14萬', 2), ('141', 2), ('超過18萬', 2), ('28萬多', 2), ('1萬5000', 2), ('2萬餘', 2), ('124', 2), ('30萬2754', 2), ('2024', 2), ('1.2', 2), ('1.4', 2), ('542', 2), ('80多', 2), ('400', 2), ('931', 2), ('半數', 2), ('600', 2), ('10萬1504', 2), ('12萬4881', 2), ('其一', 2), ('1萬', 2), ('1/8', 2), ('1/10', 2), ('2/5', 2), ('三合一', 2), ('1萬310', 2), ('7744', 2), ('2萬959', 2), ('188', 2), ('3000多', 2), ('300億', 2), ('1億7000萬', 1), ('1075', 1), ('175萬', 1), ('上百億', 1), ('約10餘', 1), ('14+7', 1), ('21萬', 1), ('3368萬', 1), ('約1145萬8000', 1), ('630萬', 1), ('421萬2000', 1), ('5052萬', 1), ('9000萬至1.3億', 1), ('3150萬', 1), ('上億', 1), ('5108', 1)]"]

In [ ]:
df_ner = pd.DataFrame(data, columns=['ne_name', 'category', 'top_keys'])

In [ ]:
df_ner.head(2)

    ne_name category                                           top_keys
0  CARDINAL       政治  [('3+4', 47), ('39', 35), ('10', 34), ('16', 2...
1  CARDINAL       科技  [('426', 7), ('14', 6), ('20', 4), ('2000', 4)...

In [ ]:
# 丟資料進去資料庫!!!
df_ner.to_sql('topner', con=conn, index=False, if_exists='replace')
conn.commit()

In [ ]:
insp = inspect(engine)
print(insp.get_table_names())

['cna_news', 'topkeyword', 'topner', 'topperson']

In [ ]:
conn.close()

# Piece them together

import pandas as pd
import sqlalchemy

# Connect to Mariadb and create a new database

# engine
engine= sqlalchemy.create_engine('sqlite:///my_news_data.sqlite3.db')
# You can connect to your sqlite database
conn = engine.connect()

# create a new database if it does not exist
#conn.execute("create database poa CHARACTER SET utf8;")

# Use poa database
# conn.execute("use poa")

# You can reconnect the database
# conn = sqlalchemy.create_engine("mysql+pymysql://mis2:mis123@localhost:3306/poa")


# News preproccess data
df = pd.read_csv('./dataset/cna_news_200_preprocessed.csv', sep='|')

# Delete duplicated rows (preprocess two times for a certain day)
# df = df.drop_duplicates()
df = df.drop_duplicates(subset='item_id', keep="first")

# Save into database
df.to_sql('cna_news', con=conn, index=False, if_exists='replace')


# Top keyword
df = pd.read_csv('./dataset/news_topkey_with_category_via_token_pos.csv', sep='|')
df.to_sql('topkeyword', con=conn, index=False, if_exists='replace')


# Top persons

df = pd.read_csv('./dataset/news_top_person_by_category.csv', sep='|')
df.to_sql('topperson', con=conn, index=False, if_exists='replace')


# Top ne keyword data

# Notice: we store it to database with three columns: ne_name, category, and top_keys
# It is easier to access with sql satement.

df = pd.read_csv('./dataset/news_topkey_by_ner.csv', sep='|')

# Why str(topkeys)? topkeys is a list; it should be a string to feed into database
data=[]
for ne_name, top_keys in df.values:
    for cate, topkeys in eval(top_keys):
        data.append([ne_name, cate, str(topkeys)])

df_ner = pd.DataFrame(data, columns=['ne_name', 'category', 'top_keys'])
df_ner.to_sql('topner', con=conn, index=False, if_exists='replace')

conn.close()


print("Sucessfully create database")